<div class="container bigimg">
    <p></p>
    <div class="row">
        <div class="col-lg-1">
            <img src="app/assets/images/snaide.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>SNAide is the Social Network Aide</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>your social network portal</li>
                <li>one place for news, friends and fun</li>
            </ul>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-6">
            <h4>click on the tabs for initial signin and for... </h4>
            <div class="blink_me">some hidden fun</div>
    </div>
        </div>
</div>